@model BugTracker.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>


<form method="post">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>@Model.DisplayName</dt>
            <dd>
                [
                @Html.ActionLink("ChangeName", "ChangeName")
                ]
            </dd>
        </dl>
    </div>
</form>

